body {
  width: 1280px;
  height: 720px;
}
body .-f {
  border: 1px dashed blue;
  box-sizing: border-box;
}
body .-afd-leaf {
  border: 1px solid red;
}
body .-afd-leaf::after {
  content: "FOCUSED";
}
body .-group.-view {
  width: 500px;
  height: 500px;
}
