body .-f {
  border: 1px dashed blue;
  box-sizing: border-box;
}
body .-afd-leaf {
  border: 1px solid red;
}
body #-focus-info {
  width: 300px;
  height: 50px;
  font-size: 30px;
}
body .-group.-view {
  background-color: black;
  width: 300px;
  height: 300px;
}
body .-group.-view .txtSmall {
  width: 200px;
  height: 40px;
  background-color: blue;
  font-size: 30px;
}
