body * {
  box-sizing: border-box;
}
body .-f {
  border: 1px dashed blue;
}
body .-afd-leaf {
  border: 2px solid red;
}
body #-focus-info {
  width: 100px;
  height: 50px;
  font-size: 12px;
}
body .-group.-view {
  background-color: black;
  width: 300px;
  height: 300px;
}
body .-group.-view .txtSmall {
  width: 70px;
  height: 200px;
  background-color: white;
  font-size: 20px;
  color: black;
}
