body {
  margin: 0;
}
#idRoot {
  width: 100%;
  height: 100%;
}
#idRoot .-f {
  border: 1px dashed blue;
  box-sizing: border-box;
}
#idRoot .-afd-leaf {
  border: 1px solid red;
}
#idRoot #idStatus {
  height: 100px;
}
#idRoot #idFooter {
  height: 60px;
}
