#idRoot {
  width: 500px;
  height: 200px;
}
#idRoot .-grid-item {
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: darkgray;
}
#idRoot .-grid-item.-f {
  background-color: lightgray;
  border: 1px solid black;
}
#idRoot .-grid-item.-f.-fd {
  background-color: lightpink;
  border: 2px solid red;
}
