
@SCREEN_WIDTH: 1000px;
@SCREEN_HEIGHT: 1000px;

body {
    margin: 0
}

#idRoot {
    width: @SCREEN_WIDTH;
    height: @SCREEN_HEIGHT;

    .-f {
        border: 1px dashed blue;
        box-sizing: border-box;
    }

    .-afd-leaf {
        border: 1px solid red;
    }

    #idStatus {
        height: 100px;
        width: @SCREEN_WIDTH;
    }

    #idContent {
        height: @SCREEN_HEIGHT - 100px - 60px;
        width: @SCREEN_WIDTH;
        //height: 200px;
    }

    #idFooter {
        height: 60px;
        width: @SCREEN_WIDTH;
    }

    //display: grid;
    //grid-template-rows: 200px 100px;
    //grid-template-columns: repeat(4, 100px);
}
